<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prescribeme">

    <application
        android:name=".Home"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrescribeME">
        <activity
            android:name=".UpdateSignature"
            android:exported="false" />
        <activity
            android:name=".ViewHTML"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConfirmProfile"
            android:exported="false" />
        <activity
            android:name=".Prescribe"
            android:exported="false" />
        <activity
            android:name=".PatientInfo"
            android:exported="false" />
        <activity
            android:name=".ViewProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>